/** Not allowed to change this initial CSS code **/
body {
  background: url(../img/12_col.gif) center top repeat-y;
  background-size: 90%;
}
/*************************************************/
* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  /* grid-template-rows: [row1-start] auto [row1-end row2-start] 300px [row2-end] [row3-start] auto [row3-end] [row4-start] 300px [row4-end];*/
  gap: 30px;
  margin: auto 5.5%;
  /* height: 100%; */
}

header {
  border: 2px solid black;
  grid-column: 1 / span 12;
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 2%;
}

header button {
  padding: 5px;
  margin: 20px 10px;
}

.btn4 {
  margin-left: auto;
}

[class*="box"] {
  border: 2px solid black;
  height: 300px;
}

.box1,
.box3 {
  grid-column: span 2;
}

.box2 {
  grid-column: 3 / span 8;
}

.content {
  border: 2px solid black;
  grid-column: 1 / span 9;
  background-color: beige;
  padding: 10px;
  display: flex;
  gap: 10px;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  align-content: space-between;
}

.content div {
  border: 2px solid black;
  flex: 1 2 350px;
  height: 150px;
  /* width: 300px; */
  /* min-width: 35%; */
  /* flex-basis: 32%; */
  /* flex: 1 1 calc(33.33% - 40px); */
  /* flex: 1 1 33%; */
}

.sidebar {
  border: 2px solid black;
  grid-column: 10 / span 3;
  background-color: beige;
  display: flex;
  flex-direction: column;
  /* min-height: fit-content; */
  padding: 25px;
}

.sidebar button {
  height: 20px;
  margin-bottom: 15px;
}

footer {
  border: 2px solid black;
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1%;
  gap: 2%;
}

[class*="footer"] {
  border: 2px solid black;
  grid-column: span 3;
  height: 300px;
}

/* Smaller desktop */
@media screen and (max-width: 1200px) {
  .box1,
  .box3 {
    grid-column: span 3;
  }

  .box2 {
    grid-column: 4 / span 6;
  }

  [class*="box"] {
    height: 200px;
  }

  .content {
    grid-column: 1 / span 8;
  }

  .sidebar {
    grid-column: 9 / span 4;
  }

  [class*="footer"] {
    height: 200px;
  }
}

/* Tablet */
@media screen and (max-width: 960px) {
  main {
    grid-template-rows: repeat(5);
  }
  */ .box1,
  .box3,
  .box2 {
    grid-column: span 4;
  }

  .content,
  .sidebar {
    grid-column: span 6;
  }

  footer {
    grid-column: 1 / span 12;
    grid-row: 4 / span 2;
  }

  [class*="footer"] {
    grid-column: span 6;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  main {
    grid-template-rows: repeat(10);
  }

  .box1,
  .box3,
  .box2,
  .content,
  .sidebar {
    grid-column: span 12;
  }

  [class*="box"] {
    height: 150px;
  }

  footer {
    grid-column: 1 / span 12;
    grid-row: 7 / span 4;
    gap: 10px;
  }

  [class*="footer"] {
    grid-column: span 12;
    height: 150px;
  }
}
